body {
    background-color: grey;}

thead{
    font-size: 20pt;
}

tbody {
    color: darkkhaki;
}

tfoot {
    color: azure;
    font-weight: bold;
}

.ios .phone::before {
    content: "🍎";
}

table .price::before{
    content:"💲";
}

.android .phone::before{
    content:"🤖";
}

td, th {
    border: 1px solid black ;
}
th{
    border-top:5px solid black;
}

table {
    border-collapse: collapse;
}

.one {
    height: 100px;
    width: 100px;
    background-color: darkgreen;
}

.two {
    height: 200px;
    width: 200px;
    background-color: gold;
}

div{
    display: inline;
    position:absolute;
}