.fig1{
position: absolute;
width: 1665px;
height: 40px;
left: 0px;
top: 0px;

background: #D9D9D9;
}

.fig2{
position: absolute;
width: 107px;
height: 40px;
left: 236px;
top: 0px;

background: red;}

.fig3{
position: absolute;
width: 133px;
height: 14px;
left: 1303px;
top: 12px;

background: red;}

.fig4{
position: absolute;
width: 85px;
height: 85px;
left: 236px;
top: 60px;

background: #D9D9D9;}

.fig5{
position: absolute;
width: 47px;
height: 14px;
left: 507px;
top: 93px;

background: #D9D9D9;}

.fig6{
position: absolute;
width: 73px;
height: 17px;
left: 572px;
top: 93px;

background: #D9D9D9;}

.fig7{
position: absolute;
width: 67px;
height: 17px;
left: 656px;
top: 93px;

background: #D9D9D9;}

.fig8{
position: absolute;
width: 66px;
height: 17px;
left: 734px;
top: 93px;

background: #D9D9D9;}

.fig9{
position: absolute;
width: 64px;
height: 17px;
left: 809px;
top: 93px;

background: #D9D9D9;}

.fig10{
position: absolute;
width: 90px;
height: 17px;
left: 894px;
top: 93px;

background: #D9D9D9;}

.fig11{
position: absolute;
width: 40px;
height: 17px;
left: 1002px;
top: 93px;

background: #D9D9D9;}

.fig12{
position: absolute;
width: 90px;
height: 17px;
left: 1051px;
top: 93px;

background: #D9D9D9;}

.fig13{
position: absolute;
width: 249px;
height: 46px;
left: 1187px;
top: 80px;

background: #D9D9D9;}

.fig14{
position: absolute;
width: 1665px;
height: 646px;
left: 0px;
top: 156px;

background: blue;}

.fig15{
position: absolute;
width: 549px;
height: 225px;
left: 832px;
top: 315px;

background: #D9D9D9;}

.fig16{
position: absolute;
width: 284px;
height: 74px;
left: 0px;
top: 0px;

background: #D9D9D9;}

.fig17{
position: absolute;
width: 136px;
height: 38px;
left: 239px;
top: 890px;

background: #D9D9D9;}

.fig18{
position: absolute;
width: 132px;
height: 38px;
left: 1067px;
top: 890px;

background: #D9D9D9;}

.fig19{
position: absolute;
width: 770px;
height: 482px;
left: 247px;
top: 985px;

background: #D9D9D9;}

.fig20{
position: absolute;
width: 350px;
height: 239px;
left: 1067px;
top: 985px;

background: #D9D9D9;}

.fig21{
position: absolute;
width: 350px;
height: 243px;
left: 1067px;
top: 1229px;

background: #D9D9D9;}

.fig22{
position: absolute;
width: 771px;
height: 214px;
left: 246px;
top: 1519px;

background: #D9D9D9;}

.fig23{
position: absolute;
width: 352px;
height: 263px;
left: 1065px;
top: 1470px;

background: #D9D9D9;}

.fig24{
position: absolute;
width: 878px;
height: 504px;
left: 0px;
top: 1868px;

background: #D9D9D9;}

.fig25{
position: absolute;
width: 787px;
height: 504px;
left: 878px;
top: 1868px;

background: #D9D9D9;}

.fig26{
position: absolute;
width: 610px;
height: 592px;
left: 236px;
top: 2490px;

background: #D9D9D9;}

.fig27{
position: absolute;
width: 624px;
height: 687px;
left: 916px;
top: 2498px;

background: #D9D9D9;}

.fig28{
position: absolute;
width: 1665px;
height: 649px;
left: 0px;
top: 3334px;

background: #D9D9D9;}