body{
    background-color: rgb(69, 73, 73);

}

.head{
    background-color: white;
    position: absolute;
    width: 1366px;
    left: 0px;
    top: 0px;
    height: 30px;
}

.buttons{
    position: absolute;
    right: 15px;
    
}

.b{
    background-color: white;

}

img{
    background-repeat: no-repeat;
    width: 1366px;
    height: 470px;
    position:absolute;
    left: 0px;
    top:30px
}